spring:
  application:
    name: ecommerce-api
  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?user=postgres.ybwsutpejxkbotntphvu&password=harikaramcharan&sslmode=require
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
        generate_statistics: false

server:
  port: 8080

security:
  jwt:
    secret: mX7#kP9$qL2@nR5&vT8*wY3!jH6^cF1%
    access-token-ttl-seconds: 900

app:
  cors:
    allowed-origins: "*"
  bootstrap-admin:
    enabled: true
    email: admin123@local
    username: admin123
    password: 123@admin